@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
    <h1 class="display-4">Hello World, @Model.Username</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps 123 with ASP.NET Core</a>.</p>
</div>
